.AdminTable__setting__header,
.AdminTable__setting__row {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr 0.6fr 0.8fr 0.5fr;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.025em;
  padding: 20px;
}
.AdminTable__setting__header {
  background: #8133f1;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}
.AdminTable__setting__row {
  border-bottom: 1px solid #e7e7e9;
  background: #ffffff;
  color: #413b51;
  font-weight: 400;
  font-size: 1rem;
  align-items: center;
}
.AdminTable__setting__row .statusapproved {
  text-align: center;
  background: #efe6fd;
  border-radius: 4px;
  color: #8133f1;
  padding: 0.5rem 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
}
.AdminTable__setting__row .statuspending {
  background: #ffe6e9;
  border-radius: 4px;
  color: #e80021;
  padding: 0.5rem 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  text-align: center;
}

img[alt="deleteicon"] {
  height: 31.5px;
  width: 27px;
  margin-left: 20px;
}
