.AdminTable__dishes__header,
.AdminTable__dishes__row {
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.3fr 0.1fr 0.1fr;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.025em;
  padding: 20px;
  justify-items: center;
}
.AdminTable__dishes__header {
  background: #8133f1;
  color: #ffffff;
  border-radius: 10px 10px 0 0;
}
.AdminTable__dishes__row {
  border-bottom: 1px solid #e7e7e9;
  background: #ffffff;
  color: #413b51;
  font-weight: 400;
  font-size: 1rem;
}

img[alt="admindishesimage"] {
  width: 160px;
  height: 160px;
  border-radius: 5.86709px;
}
.deletedishicon {
  height: 31.5px;
  width: 27px;
}
.AdminTable__dishes__row p {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #100a24;
  margin-top: 10px;
}

.AdminTable__dishes__des,
.AdminTable__dishes__addons {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.025em;
  color: #100a24;
  /* text-align: center; */
}
.AdminTable__dishes__des {
  padding: 56px;
}
.AdminTable__dishes__des ul {
  padding: 0.5rem 1rem;
}
