.AdminSetting {
  padding: 12px;
}
.AdminSetting h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: -0.015em;

  /* Foundation /body/body-400 */

  color: #413b51;
}
.AdminSetting h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;

  /* Foundation/Primary/primary-400 */

  color: #8133f1;
  margin-top: 1rem;
}
.AdminNewAccount {
  background: #ffffff;
  border: 1px solid #e7e7e9;
  border-radius: 6px;
  padding: 30px;
  margin: 12px;
}
.AdminNewAccount h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #413b51;
}
.AdminNewAccount > div {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr 0.5fr;
  align-items: center;
}

.AdminNewAccount button,
.Admin__btn {
  padding: 0.8rem 1rem;
  background: linear-gradient(96.63deg, #7527e4 1.02%, #8634d9 100%);
  border-radius: 4px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.015em;
  color: #ffffff;
  border: none;
  outline: none;
}
.AdminNewAccount input {
  border: 1px solid #e7e7e9;
  filter: drop-shadow(0px 12px 60px rgba(100, 100, 100, 0.12));
  border-radius: 6px;
  padding: 20px;
  margin-right: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #605b6e;
}
